@model ProductsIndexViewModel
@{
    ViewData["Title"] = "Produkter";
    var products = await productsService.GetAllAsync();
}

<div style="padding-top: 150px;">

    <partial name="/Views/Partials/_GridCollection.cshtml" model="@Model.All" />
    <partial name="/Views/Partials/_ShowProduct.cshtml" />

</div>

