@{
    ViewData["Title"] = "Admin";
}
<div style="padding-top: 150px;">
    <a class="link" asp-controller="Admin" asp-action="ProductRegister">Skapa ny produkt</a>
    <a class="link" asp-controller="Admin" asp-action="ShowCustomer">Se kunder</a>

</div>



