.product-details {
    margin-top: 50px;

    .container {

        .details {
            display: flex;
            justify-content: space-between;


            .product-image {
                display: block;

                img {
                    width: 430px;
                    height: 501px;
                }
            }

            .details-image {
                padding-top: 20px;
                display: block;


                img {
                    width: 113px;
                    height: 120px;
                }
            }

            .content {
                padding: 20px;
                font-family: $font-poppins;
                color: $color-dark-2;

                .title {
                    font-size: 30px;
                    font-weight: $font-weight-bold;
                    line-height: 1.2;
                    padding-bottom: 15px;
                }

                .small-description {
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 20px;
                }

                .rating {
                    margin-top: 20px;
                    display: flex;

                    .reviews {
                        margin-left: 10px;
                        font-family: $font-poppins;
                        color: $color-dark-2;
                        font-size: 16px;
                    }
                }

                .price {
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 25px;
                    font-weight: $font-weight-bold;
                }

                .add-to-cart {
                    .btn-group {
                        button {
                            color: $color-dark-4;
                        }

                        .btn-outline-primary {
                            color: $color-dark-4;
                        }
                    }

                    .btn-theme {
                        margin-left: 60px;
                    }
                }

                .colour {
                    display: block;
                    margin: 20px 40px;
                }

                .btn-outline-white {
                    margin: 40px 60px;
                }

                .category {
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 15px;
                    font-weight: $font-weight-bold;
                    margin: 30px 60px;
                }
            }
        }
    }
}
