.product-info {
    .container {
        .btn-outline-white {
            cursor: pointer;
            font-family: $font-poppins;
            margin: 20px 0px;
            width: 320px;
            border: 1px solid $color-dark-3;
            background-color: $color-white;
            color: $color-dark-3;

            &:hover {
                border: 1px solid $color-theme-1;
                background-color: $color-theme-1;
                color: $color-white;
            }
        }

        .title {
            font-family: $font-poppins;
            color: $color-dark-2;
            font-size: 25px;
            font-weight: $font-weight-bold;
        }

        .product-info {
            display: flex;
            justify-content: space-between;

            .text {
                padding: 10px;
                font-family: $font-poppins;
                color: $color-dark-2;
                font-size: 16px;
                line-height: 1.2;
            }

            .image {
                img {
                    width: 356px;
                    height: 469px;
                }
            }
        }
    }
}
