.related-products {
    .container {

        .section-title {
            font-family: $font-poppins;
            color: $color-dark-2;
            font-size: 25px;
            font-weight: $font-weight-bold;
            text-align: left;
            margin-bottom: 40px;
        }


        .related-products-item {
            display: flex;
            justify-content: space-between;


            .item-group {
                display: block;



                .image {
                    display: block;
                    width: 100%;
                    height: auto;
                }

                .body {
                    display: block;
                    color: $color-dark-2;
                    font-family: $font-poppins;
                    padding: 10px;

                    .title {
                        font-size: 16px;
                        font-family: $font-poppins;
                        font-weight: $font-weight-medium;
                    }

                    .price {
                        font-family: $font-poppins;
                        font-size: 16px;
                        align-items: center;
                    }
                }
            }
        }
    }
}
