$color-dark-4: #AEAEAE;

.product-details {
    margin-top: 10px;

    .container {

        .details {
            display: flex;
            justify-content: space-between;


            .product-image {
                display: block;

                img {
                    width: 430px;
                    height: 501px;
                }
            }

            .details-image {
                padding-top: 20px;
                display: block;


                img {
                    width: 113px;
                    height: 120px;
                }
            }

            .content {
                padding: 20px;
                font-family: $font-poppins;
                color: $color-dark-2;

                .title {
                    font-size: 30px;
                    font-weight: $font-weight-bold;
                    line-height: 1.2;
                    padding-bottom: 15px;
                }

                .small-description {
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 20px;
                }

                .dotted-line {
                    position: relative;
                    padding: 5px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        border-top: 1px dotted #000000;
                    }
                }

                .rating {
                    margin-top: 20px;
                    display: flex;

                    .reviews {
                        margin-left: 10px;
                        font-family: $font-poppins;
                        color: $color-dark-2;
                        font-size: 16px;
                    }
                }

                .price {
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 25px;
                    font-weight: $font-weight-bold;
                }

                .add-to-cart {
                    .btn-group {
                        button {
                            border-color: $color-dark-4;
                            color: $color-dark-4;

                            &:hover {
                                color: $color-dark-3 !important;
                                background-color: transparent !important;
                            }
                        }

                        .btn-outline-primary {
                            border-color: $color-dark-4;
                        }
                    }

                    .btn-theme {
                        margin-left: 60px;
                    }
                }

                .smal-info {
                    padding: 10px;
                    display:flex;


                    .colour {
                        display: block;
                        margin-right:30px;

                    }

                    .number {
                        display: block;
                        font-size: 20px;
                    }
                }



                .category {
                    margin-top: 30px;
                    font-family: $font-poppins;
                    color: $color-dark-2;
                    font-size: 15px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
