.product-view {
    padding-top: 100px;

    .title {
        text-align: center;
        font-family: $font-poppins;
        font-weight: $font-weight-semibold;
        font-size: 25px;
        color: $color-dark-2;
    }
}
