@model ContactsViewModel
@{
    ViewData["Title"] = "kontaktformunlär";
}
<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form asp-action="Index" method="post" novalidate>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="form-label"></label>
                <input asp-for="Company" class="form-control">
                <span asp-validation-for="Company" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="form-label"></label>
                <input asp-for="Message" class="form-control">
                <span asp-validation-for="Message" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>
