@model LoginViewModel
@{
    ViewData["Title"] = "Logga in";
}
<section class="contact-form">
    <div class="container">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Login" metod="post" novalidate>
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="error"></span>
            </div>

            <button type="submit" class="btn-theme">LOGGA IN</button>
        </form>
    </div>
</section>
