@model ProductRegistrationViewModel
@{
    ViewData["Title"] = "Create a new product:";
}

<section class="productregister-form">
    <div class="container">
        <div class="title">@ViewData["Title"] </div>

        <div asp-validation-summary="ModelOnly" class="form-group error"></div>

        <form enctype="multipart/form-data" asp-action="ProductRegister" metod="post" novalidate>
            <div class="articlenumber form-group">
                <label asp-for="ArticleNumber" class="form-label"></label>
                <input asp-for="ArticleNumber" class="form-control">
                <span asp-validation-for="ArticleNumber" class="error"></span>
            </div>
            <div class="name form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="error"></span>
            </div>
              <div class="price form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="error"></span>
            </div>

            <div class="description form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="error"></span>
            </div>
                <div class="rating form-group">
                <label asp-for="Rating" class="form-label"></label>
                <input asp-for="Rating" class="form-control">
                <span asp-validation-for="Rating" class="error"></span>
            </div>
   

            <div class="image form-group">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="error"></span>
            </div>

            <div class="mb-3">
                @foreach (SelectListItem tag in ViewBag.Tags)
                {
                    <div>
                        <input type="checkbox" name="Tags" id="tag-@tag.Text-@tag.Value" value="@tag.Value" checked="@tag.Selected" class="form-check-input" />
                        <label for="tag-@tag.Text-@tag.Value" class="form-check-label">@tag.Text</label>
                    </div>
                }
            </div>


            <button type="submit" class="btn-theme">SKAPA PRODUKT</button>
        </form>
    </div>
</section>
