@model RegisterViewModel
@{
    ViewData["Title"] = "Create a new account";
}

<section class="register-form">
    <div class="container">
        <div class="title">@ViewData["Title"] </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <form asp-action="Index" metod="post" enctype="multipart/form-data" novalidate>
            <div class="firstName form-group">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="error"></span>
            </div>
            <div class="lastname form-group">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="streetname form-group">
                <label asp-for="StreetName" class="form-label"></label>
                <input asp-for="StreetName" class="form-control">
                <span asp-validation-for="StreetName" class="error"></span>
            </div>
                <div class="postalcode form-group">
                <label asp-for="PostalCode" class="form-label"></label>
                <input asp-for="PostalCode" class="form-control">
                <span asp-validation-for="PostalCode" class="error"></span>
            </div>
            <div class="city form-group">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control">
                <span asp-validation-for="City" class="error"></span>
            </div>
            <div class="mobile form-group">
                <label asp-for="Mobile" class="form-label"></label>
                <input asp-for="Mobile" class="form-control">
                <span asp-validation-for="Mobile" class="error"></span>
            </div>
            <div class="company form-group">
                <label asp-for="Company" class="form-label"></label>
                <input asp-for="Company" class="form-control">
                <span asp-validation-for="Company" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="password form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="confirmepassword form-group">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="profileimage form-group">
                <label asp-for="ImageFile" class="form-label"></label>
                <input asp-for="ImageFile" class="form-control">
                <span asp-validation-for="ImageFile" class="error"></span>
            </div>
            <div class="termsandcondition terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="TermsAndConditions"></label>
                    <input asp-for="TermsAndConditions">
                    <span class="checkmark"></span>
                </label>
                <span asp-validation-for="TermsAndConditions" class="error"></span>
            </div>      
            <button type="submit" class="btn-theme">REGISTRERA</button>
        </form>
    </div>
</section>