    <section class="showcase">
        <div class="container">
              <a class="link" asp-controller="Account" asp-action="Index">HOME</a>
              <a class="link" asp-controller="Account" asp-action="Register">Registrera</a>
              <a class="link" asp-controller="Account" asp-action="Login">Logga in</a>         
        </div>
    </section>
