@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
}
<section class="contact-form">
    <div class="container">
<div class="title">Välkommen @ViewData["Title"] </div>
        <a class="link" asp-controller="Admin" asp-action="Index">Adminsida</a>
</div>
</section>