@{
    ViewData["Title"] = "Admin";
}



<div class="admin-view">
    <div class="container">
        <div class="title">Redigera</div>
        <div class="admin-link">
            <a class="link" asp-controller="Admin" asp-action="ProductRegister">Skapa ny produkt</a>
            <a class="link" asp-controller="Admin" asp-action="RegisterUser">Skapa ny kund</a>
            <a class="link" asp-controller="Admin" asp-action="ShowCustomer">Se kunder</a>
        </div>
       
    </div>
</div>