<section class="related-products">
    <div class="container">
        <div class="section-title">Related Products</div>

        <div class="related-products-item">
            <div class="item-group">
                <div class="image"><img src="images/placeholders/270x295.svg" alt=""></div>
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="price">$30.00</div>
                </div>
            </div>
            <div class="item-group">
                <div class="image"><img src="images/placeholders/270x295.svg" alt=""></div>
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="price">$30.00</div>
                </div>
            </div>
            <div class="item-group">
                <div class="image"><img src="images/placeholders/270x295.svg" alt=""></div>
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="price">$30.00</div>
                </div>
            </div>
            <div class="item-group">
                <div class="image"><img src="images/placeholders/270x295.svg" alt=""></div>
                <div class="body">
                    <div class="title">Apple watch collection</div>
                    <div class="price">$30.00</div>
                </div>
            </div>
        </div>
    </div>
</section>
