<section class="product-details">
    <div class="container">
        <div class="details">
            <div class="product-image">
                <img src="images/placeholders/501x430.svg" alt="">

                <div class="details-image">
                    <img src="images/placeholders/120x113.svg" alt="">
                    <img src="images/placeholders/120x113.svg" alt="">
                    <img src="images/placeholders/120x113.svg" alt="">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
            </div>

            <div class="content">
                <div class="title">Young Star Smart Shoe in Fashion</div>
                <div class="small-description">Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</div>
                <div class="rating">
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <div class="reviews">16</div>
                </div>
                <div class="price">30</div>

                <div class="add-to-cart">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary">+</button>
                        <button type="button" class="btn btn-outline-primary">2</button>
                        <button type="button" class="btn btn-outline-primary">-</button>
                    </div>
                    <button class="btn-theme">Add To Cart <i class="add-cart fa-regular fa-cart-plus"></i></button>
                </div>
                <div class="colour">
                    <i class="fa-solid fa-circle" style="color: #e24646;"></i>
                    <i class="fa-solid fa-circle" style="color: #fff824;"></i>
                    <i class="fa-solid fa-circle" style="color: #24daff;"></i>
                </div>

                <button class="btn-outline-white">Add To Wishlist</button>
                <div class="category">Category</div>
            </div>
        </div>
    </div>
</section>