@model ProductDetailsViewModel

<section class="grid-collection">
    <div class="container">
        <div class="title">Related Products</div>
        <div class="grid">
            @foreach (var randomProduct in Model.RandomProducts)
            {
            <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="randomProduct" />
            }

        </div>
    </div>
</section>

