    <section class="showcase-bottom">
        <div class="container">
            <div class="image">
                <img src="images/placeholders/200x122.svg" alt="">
                <img src="images/placeholders/200x122.svg" alt="">
                <img src="images/placeholders/200x122.svg" alt="">
                <img src="images/placeholders/200x122.svg" alt="">
            </div>
        </div>
    </section>
