@model ProductDetailsViewModel

<section class="product-info">
        <div class="container">
            <button class="btn-outline-white">DESCRIPTION</button>
            <button class="btn-outline-white">ADDITIONAL INFO</button>
            <button class="btn-outline-white">REVIEWS (0)</button>
            <button class="btn-outline-white">REVIEWS (0)</button>
        <div class="title">Här kan det stå en titel</div>
        <div class="product-info">
            <div class="text">
                Här kan det stå ännu mer utförlig information om produkten.
            </div>
            <div class="image">
                <img src="~/images/placeholders/@Model.Product.ImageUrl" alt="@Model.Product.Name">
            </div>
            </div>
        </div>
    </section>