@model ProductsViewModel

@{
    ViewData["Title"] = "Produkter";
   var products = await productService.GetAllAsync();

}

@if (products != null)
{
    foreach(var product in products)
    {
         <img src="@product.ImageUrl" alt="@product.Name">
                <div class="body">
                    <div class="title">@product.Name</div>
                        <div class="info">
                            <div class="price">@product.Price</div>
                            <i class="add-cart fa-regular fa-cart-plus"></i>
                        </div>
                </div>
    }

}

