 @model ShowcaseViewModel  

 <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="ingress">@Model.Ingress</div>
                <div class="title">@Model.Title</div>
                <button class="btn-theme">SHOP NOW</button>
            </div>
            <div class="content-image">
            <img src="~/images//placeholders/showcase1.jpg" alt="">
            </div>
        </div>
    </section>