@model FeaturedCompositeViewModel
@{
    ViewData["Title"] = "Produkter";
    var products = await productService.GetAllAsync();
}
﻿<section class="up-to-sell">
    <div class="container">
        <div class="collection-grid">
            <div class="item-1">
                @if (Model.GridCollection.Products != null)
                {
                    <div class="grid">
                        @foreach (var productViewModel in Model.GridCollection.Products.Take(1))
                        {
                        <partial name="/Views/Partials/_CollectionContentItem.cshtml" model="productViewModel" />
                        }
                    </div>
                }
            </div>
            <div class="discover">
                <div class="collection-content">
                    <div class="container">
                        @if (Model.UpToSell != null)
                        {
                            <div class="title-red">@Model.UpToSell.Title</div>
                            <div class="title">@Model.UpToSell.BigTitle</div>
                            <div class="ingress">@Model.UpToSell.Ingress</div>
                            <div class="text">@Model.UpToSell.Text</div>
                            <a href="#" class="link">Discover More</a>                          
                        }
           
                    </div>
                </div>
            </div>
            <div class="item-2">
                @if (Model.GridCollection.Products != null)
                {
                    <div class="grid">
                        @foreach (var productViewModel in Model.GridCollection.Products.Skip(1).Take(1))
                        {
                        <partial name="/Views/Partials/_CollectionContentItem.cshtml" model="productViewModel" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>
